 <h1>Title: <%= @task.title %></h1>
  <h4 class="task-details">Details: <%= @task.details %></h4>

  <% if @task.completed %>
  <input type="checkbox" checked></i> This task is completed
<% else %>
  <input type="checkbox" unchecked></i> This task is not completed yet
<% end %>
<p>
  <%= link_to "Edit this task", edit_task_path(@task.id) %>
</p>


<p>
<%= link_to tasks_path do %>

Back to list

</p>
<% end %>

